<div class="container">
        <li><a href="/form/nova_midia">Nova mídia...</a></li>
        <li><a href="/main_list">Ver tudo...</a></li>
        <li><a href="/emprestados">Emprestados...</a></li>
        <li><a href="/form/registro_emprestimo">Novo emprestimo...</a></li>
        <li><a href="/form/registro_devolucao">Nova devolução...</a></li>
        <li><a href="/sobre">Sobre...</a></li>
</div> 
